
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2 ;
}



$text:'Roboto', sans-serif;
$size24: 24px;
$size20: 20px;
$font-weight:bold;
$white:white;


@mixin display-center {
    display: block;
    justify-content: center;
    text-align: center;
}

@mixin text
{
    font-family: $text;
    font-weight: $font-weight;
    font-size: $size24;
}

@mixin cards-restaurant
{

    width: 335px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

@mixin description-cards-menu
{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: baseline;
    background-color: white;
    width: 335px;
    box-shadow: 2px 2px 2px 2px rgba(203,203,203,0.35);
}

@mixin palette-entree-menu {
    background-color: white;
    border-radius: 14px 14px 14px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 335px;
    padding-left: 10px;
}


@mixin border-bot-green
{
    background-color: #99e2d0;
    height: 2px;
    width: 40px;
    margin-top: 5px;

}


.img-loading
    {
        width: 0;
        height: 200px;
        position: fixed;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        overflow: hidden;
        display: block;
        animation: 2s  ease-in-out 1s  loading  forwards, 1s linear 3s fade-out forwards;
    }
    
    .img-load {
        height: 200px;
        width: 200px;
    }
    
    div.main-text {
        visibility: hidden;
        opacity: 0;
        animation: 1s linear 4s fade-in forwards;
    }
    
    @keyframes loading {
        0% {
        width: 0;
        transform:rotate(90deg);
        }
        100% {
        width: 200px;
        transform:rotate(360deg);
        }
    }
    
    @keyframes fade-out {
        0% {
        display: block;
        opacity: 1;
        visibility: visible;
        }
        99% {
        display: block;
        opacity: 0;
        visibility: visible;
        }
        100% {
        display: none;
        opacity: 0;
        visibility: hidden;
        }
    }
    
    
    @keyframes fade-in {
        0% {
        visibility: hidden;
        opacity: 0;
        }
        1% {
        visibility: visible;
        opacity: 0.5;
        }
        100% {
        visibility: visible;
        opacity: 1;
        }
    }




h3
{
    padding-left: -10px;
    margin:0;
}

p
{
    font-family: $text;
    font-size: $size20;
}

.menu-text
{
    @include text;
    font-weight: 600;
    font-size: 24px;
    padding-top: 36px;
    margin: 0;
}



.logo-oh-my-food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            padding-top: 6px;
            
}

.img-logo {
    padding: 18px;
    width: 160px;
    height: 25px;
}


/* animation css horizontal */

.menu-entree
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-entree :nth-child(1)
{
    animation-delay: 0s;
}

.menu-entree :nth-child(2)
{
    animation-delay: 0.25s;
    
}

.menu-entree :nth-child(3)
{
    animation-delay: 0.5s;
    
}

.texte-description-palette
{
    height: 68px;
    animation: slide 1s ease-in-out forwards;
    animation-delay: 1s;
    transform:translateY(20px);
    opacity:0;
}



@keyframes slide {

    0%{
        transform:translateY(20px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0);
        opacity: 1;
    }

}

/* fin animation css horizontal */ 

.menu
{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2; 
}

.menu-general 
{
    background-color: #eaeaea;
    font-size: $size24;
    width: 100%;
}

.geoloc-menu
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 45px;
    align-items: center;
}  

.text-city
{
    padding-left:5px;
    font-size: $size20;
    font-weight:bold;
    font-family: $text;
    margin-right: 20px;
    
}


.explorez-restaurants
{
    width: 220px;
    height: 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $text;    
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 2px rgba(203,203,203,0.35);
}

a {
    text-decoration: none;
}


.explorez-restaurants:hover
{
    cursor: pointer;
}

.function-text
{
    
    @include text;
    padding:33px 0 20px 20px;
    margin-bottom: auto;
}

.rubrique-fonctionnement
{
        display: flex;
        flex-direction: column;
        gap:16px;
        padding-bottom: 70px;
        background-color: white ;
}

.logo-1
{   
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: 110px;
}

.phone-logo:hover
{
    color: #9356DC;
}

.logo-2
{   
    display: flex;
    text-align: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    align-items: center;
}

.store-logo:hover
{
    color: #9356DC;
}

.logo-3
{   
    display: flex;
    text-align: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    align-items: center;
}

.bar-logo:hover
{
    color: #9356DC;
}


.choisir-restaurant
{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: #f2f2f2;
    width: 335px;
    height:75px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}

.choisir-restaurant:hover
{
    cursor: pointer;
    background-color: #f5edff; 
}


#liste-restaurant
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f2f2f2;
    gap: 16px;
    padding-bottom: 90px;
    cursor: pointer;
}

.title-restaurants
{
    @include text;
    padding-left: 20px;
    padding-top: 35px
}

.img-cards
{
    @include cards-restaurant;
}

.button-heart
{
    cursor: pointer;
    background-color: white;    
}


.fa-heart
{
    width:21px;
    height:21px;
    left: 273px;
    background-image: linear-gradient(0deg,#fff,#fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #000;
    padding-top: 1px;
    padding-right: 1px;
}


.fa-heart:hover
{
    background-image: linear-gradient(0deg,#ff79da,#9356dc);
    -webkit-text-stroke: none;
}


.texte-description
{
    @include description-cards-menu;
    background-color: white;
    font-family: $text;
    padding-top: 10px;
}


.carte-restaurants
{

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 1px 1px rgba(203,203,203,0.15);

}


.description-restau
{
    padding-bottom: 10px;
}

.nouveau
{
    background-color: #99E2D0;
    padding: 6px 8px 6px 8px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #008766;
    border-radius: 2px;
    font-size: 14px;
}


footer{
    background-color: #353535;
    color: white;
    padding-bottom: 37px;
    font-family: 'Roboto', sans-serif;
}

.menu-footer
{
    display: flex;
    flex-direction: column;
    margin-left:16px;
}

.knife-logo
{
    padding-right: 10px;
}

.hands-logo
{
    padding-right: 3px;
}

.footer-logo
{
    padding-bottom: 7px;
    padding-left: 6px;
    text-decoration: none;
    color: white;
}

.img-logo-footer
{
    width: 100px;
    height: 18px;
    padding-top: 26px;
    padding-left: 22px;
    padding-bottom: 18px;
}

                                        /* Palette.html */

.header-palette
{
    padding-bottom: 7px;
}

.logo-oh-my-food-palette
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img-logo-palette
{
    padding: 6px;
    width: 160px;
    height: 25px;
}

.palette-tittle-text
{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.arrow
{
    position: relative;
    top: 25px;
    left: 25px;
}

.palette-img
{
    object-fit: cover;
    width: 375px;
    height: 285px;
}

.entree-palette
{
    background-color: #f2f2f2;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -65px;
}

.palette-tittle
{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 8px
}


.border-menu
{
    @include   border-bot-green();
    margin-bottom: 10px;
    margin-left: 10px;
}

.dish
{
    @include palette-entree-menu();
    margin-top: 10px;
    padding-left: 10px;
    height: 68px;
    font-family: $text;
    cursor: pointer;
}


.entrees
{
    margin-left: 10px;
}

.menu-entree
{
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
    gap: 14px;
    font-family: 'Roboto', sans-serif;
    
}

.description-restau-palette
{
    font-size: 14px;
    width: 290px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.prix
{
    padding-right: 15px;
    padding-top: 20px;
    padding-left: 15px;
}


.layout-green
{
    display: flex;
    width: 0px;
    height: 68px;
    background-color: #99e2d0;
    border-radius: 0 10px 10px 0;
    justify-content: center; 
    align-items: center;
    transition: width 1s;
}

.fa-check-circle
{
    opacity: 0;
    color: white;
    transform: rotate(0deg);
    transition: 1s ease-in-out;
}


.dish:hover .layout-green
{
    width: 90px;
    transform: translateX(0px);
    transition: 1s ease-in-out;
    cursor: pointer;
}


.dish:hover .fa-check-circle
{
    opacity: 1;
    transform: rotate(360deg);
}

.dish
{
    @include palette-entree-menu();
    margin-top: 10px;
    padding-left: 10px;
    height: 68px;
    font-family: $text;
}


.order
{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    height: 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $text;    
    box-shadow: 2px 2px 2px 2px rgba(203,203,203,0.35);
    text-decoration: none;
}

.order:hover
{
    opacity: 0.75;
}

/* La note enchantée */ 



