body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h3 {
  padding-left: -10px;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.menu-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  font-weight: 600;
  font-size: 24px;
  padding-top: 20px;
  margin: 0;
}

.logo-oh-my-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.img-logo {
  padding: 15px;
  width: 160px;
  height: 25px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  gap: 5px;
}

.menu-general {
  background-color: #eaeaea;
  font-size: 24px;
  width: 100%;
}

.geoloc-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-city {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
}

.explorez-restaurants {
  width: 220px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(203, 203, 203, 0.35);
          box-shadow: 2px 2px 2px 2px rgba(203, 203, 203, 0.35);
}

.explorez-restaurants:hover {
  cursor: pointer;
}

.function-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding: 28px 0 20px 20px;
  margin-bottom: auto;
}

.rubrique-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}

.logo-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 10px;
}

.logo-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choisir-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f2f2f2;
  width: 335px;
  height: 75px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
}

.choisir-restaurant:hover {
  cursor: pointer;
  background-color: #f5edff;
}

.liste-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  gap: 20px;
}

.title-restaurants {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-left: 20px;
}

.img-cards {
  width: 335px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.coeur-card:before {
  content: "";
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
}

.texte-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 335px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(203, 203, 203, 0.35);
          box-shadow: 2px 2px 2px 2px rgba(203, 203, 203, 0.35);
  background-color: white;
}

.carte-restaurants {
  margin: 5%;
  background-color: red;
  overflow: hidden;
  border-radius: 20px;
}

.description-restau {
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */