.menu
{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2; 
}

.menu-general 
{
    background-color: #eaeaea;
    font-size: $size24;
    width: 100%;
}


.border-menu
{
    @include   border-bot-green();
}

.palette-tittle
{
    @include palette-tittle()
}

.dish-general
{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 335px;
    justify-content: center;
    width: 100%;
}

.entree-palette
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -65px;
    align-items: center;
}

.img-logo-palette
{
    padding: 6px;
    width: 160px;
    height: 45px;
}


.palette-tittle-text
{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-right: 20px;
}

.palette-img
{
    object-fit: cover;
    width: 375px;
    height: 285px;
}

@media screen and  (min-width: 390px) {

    .arrow
    {
        padding-left: 40px;
    }

    .img-logo-palette
    {
        width: 320px;
        height: 50px;
    }

    .palette-img
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: white;
    }


    .palette-tittle
    {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .palette-img
    {
        border-radius: 30px;
        width: 70%;
    }

    .entrees
    {
        margin-left: 30px;
    }
    .border-menu
    {
        margin-left: 35px;
    }
    

    .entree-palette
    {
        background-color: #f2f2f2;
        border-radius: 30px 30px 0 0;
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: 80px;
        align-items: center;
    }









    footer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-logo-footer
    {
        display: flex;
        flex-direction: column-reverse;
    }
}