.logo-oh-my-food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            padding-top: 6px;
            background-color: #f2f2f2;
}

.img-logo {
    padding: 18px;
    width: 160px;
    height: 60px;
}

.geoloc-menu
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 45px;
    align-items: center;
}  


.rubrique-fonctionnement
{
        display: flex;
        flex-direction: column;
        gap:16px;
        padding-bottom: 70px;
        background-color: white ;
}

.backg-restau-liste
{
    background-color: #f2f2f2;
    width: 100%;
}


.explorez-restaurants:hover
{
    cursor: pointer;
}

@media screen and (min-width: 500px) {

    .function-text
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rubrique-fonctionnement
    {
        display: flex;
        align-items: center;
    }


    .choisir-restaurant
    {
        flex-wrap: nowrap;
        align-items: center;
        width: 30%;
        min-width: 350px;
        position: relative;
    }

    .logo{
        position: absolute;
        left: -8px;
    }


    .title-restaurants
    {
        padding: 0;
        text-align: center;
        background-color: #f2f2f2;
        margin: 0;
        padding-top: 20px;
    }

    #liste-restaurant
    {
        width: 100%;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 3%;
        margin: auto;
        max-width: 800px;
        gap: 40px;
    }

    .carte-restaurants
    {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    } 



    footer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -65px;
    }

    .img-logo-footer
    {
        display: flex;
        flex-direction: column-reverse;
    }
}
